$red : #E65C43;
$white: #FFF;
$gray: #666;
$bodyFont: 'Roboto';
$bodyBackGImg: '../images/bg.gif';
$imgLogo: '../images/logo.png';
$imgSocialMedia: '../images/social-media.png';
$BgGraybar:#F5F6F6;
$BgHeadline: #F25C43;